.scm-header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    display: block;
}

.scm-header h2{
    display:inline-block;
    text-align: center;
    margin-left: 170px;
}

.scm-user-wrapper {
    float:right;
}

.scm-user-hi {
    color: #ff0077;
    font-weight: bolder;
    font-size: small;
}

.login-info {
    text-align: right;
    margin-bottom: 10px;
}