.nam-login-wrapper {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.nam-login-row {
    margin: 10px 0;
    display: flex;
}

.nam-login-row>input {
    margin: 10px 0;
    width: 100%;
    height: 25px;
    line-height: 22px;
}

.nam-login-button {
    padding: 10px;
    background-color: #4dafc7;
    border:none;
    border-radius: 5px;
    color: white;
    margin: 8px;
    box-shadow: 0 0 10px #8f8c8b;
    cursor:pointer;
}

.nam-login-button:active {
    color: #2490b7;
    background-color: #bcdde7;
    box-shadow: -5px -5px 30px 5px #78d8ef, 5px 5px 30px 5px #3a6fe3;
}

.nam-signup-button {
    text-decoration: none;
    padding: 10px;
    background-color: #e1935a;
    border:none;
    border-radius: 5px;
    color: white;
    margin: 8px;
    box-shadow: 0 0 10px #8f8c8b;
    cursor:pointer;
}

.nam-signup-button:active {
    color: #c77334;
    background-color: #eedac5;
    box-shadow: -5px -5px 30px 5px #ecce81, 5px 5px 30px 5px #e17626;
}

.nam-check-id-btn {
    height:35px;
    width:110px;
    padding: 10px;
    background-color: #8357c5;
    border:none;
    border-radius: 5px;
    color: white;
    margin: 8px;
    box-shadow: 0 0 10px #8f8c8b;
    cursor:pointer;
}

.nam-check-id-btn:active {
    color: #2d0d56;
    background-color: #c3aaee;
    box-shadow: -5px -5px 30px 5px #df78ef, 5px 5px 30px 5px #e33a6d;
}

.nam-cancel-button {
    padding: 10px;
    background-color: #839396;
    border:none;
    border-radius: 5px;
    color: white;
    margin: 8px;
    box-shadow: 0 0 10px #8f8c8b;
    cursor:pointer;
}

.nam-cancel-button:active {
    color: #1d80a4;
    background-color: #c7c7c7;
    box-shadow: -5px -5px 30px 5px #a1dbe8, 5px 5px 30px 5px #8fabe5;
}