
/* paging */
.paging_wrap{text-align:center;margin-top:20px;}
ul.paging li{display:inline-block;margin:0 2px;vertical-align:middle;}
ul.paging li a{display:block;width:30px;height:30px;line-height:30px;border-radius:30px; font-size:12px;color:#333;font-family:'Noto Sans KR Medium';cursor:pointer;}
ul.paging li.active a {background:#12519e; border-radius:30px; color:#fff}