.scm-view-wrapper {
    width: 50%;
    margin: 0 auto;
}

.scm-login-wrapper {
    width: 20%;
    margin: 0 auto;
}

.scm-view-go-list-btn {
    padding: 7px;
    background-color: #282c34;
    color: white;
    margin: 7px;
    border-radius: 4px;
    font-weight: bolder;
    white-space: nowrap;
}

button:disabled {
    background-color: #8f8c8b;
    color: linen;
    opacity: 1;
}

.scm-red-btn {
    padding: 4px;
    background-color: #ff0077;
    border-color: #ff0077;
    color: white;
    margin: 7px;
    border-radius: 4px;
    font-weight: bolder;
    white-space: nowrap;
}

.scm-btn {
    width: 80%;
    margin: 0 auto;
    overflow :hidden
}

.scm-btn-right {
    float: right;
}

.scm-btn-left {
    float: left;
}

.scm-view-select {
    padding: 7px;
    border-radius: 3px;
    font-weight: bolder;
}

.scm-view-input {
    padding: 7px;
    border-radius: 3px;
}

.scm-view-row {
    margin: 10px 0;
    display: flex;
}

.scm-view-row>label:first-child {
    margin: 10px 0;
    width: 30%;
    font-weight: bold;
}

.scm-view-row>*:nth-child(2) {
    margin: 10px 0;
    width: 70%;
}

.scm-footer {
    text-align: center;
}

textarea,.content {
    height: 200px;
}

.scm-id-ck {
    text-align: right;
    font-weight: bolder;
    font-size: smaller;
    white-space: nowrap;
}

#blue {
    margin-top: -15px;
    color: blue;
}

#red {
    margin-top: -15px;
    color: red;
}

